{% extends "layout.html" %}
{% block form %}

{% if current_user.is_authenticated %}

<div class="card">
	<div class="card-body">
		<div class="text-center">
			<h2 style="padding: 20px;">Content Page</h2>
			<h6 class="alert alert-success"><i class="far fa-envelope"></i> Current User Email: {{ current_user.email }}
			</h6>
			<a href="{{ url_for('logout') }}" class="btn btn-outline-danger btn-block">Logout <i
					class="fas fa-door-open"></i></a>
		</div>
	</div>
</div>

{% else %}

<div class="card">
	<div class="card-body p-5">
		<div class="text-center mb-4">
			<a href="{{ url_for('register') }}" class="btn btn-outline-success btn-block"><i
					class="far fa-address-card"></i> Register</a>
		</div>
		<div class="text-center">
			<a href="{{ url_for('login') }}" class="btn btn-outline-info btn-block"><i class="fas fa-sign-in-alt"></i>
				Login</a>
		</div>
	</div>
</div>

{% endif %}
{% endblock form %}